.courses {
  .heading {
    text-align: center;
    font-size: 2rem;
    color: #1e1e1e;
    margin: 20px 0;
    font-weight: bold;
  }

  margin: 8rem 0;
  box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.2);
  padding: 2rem;

  .grid-left {
    img {
      width: 100%;
    }
  }

  .grid-right {
    padding: 1rem;
    h1 {
      color: #323232;
    }

    p {
      color: rgba(0, 0, 0, 0.68);
      margin-top: 10px;
      line-height: 2;
      font-size: 14px;
    }

    .primary-btn {
      width: fit-content;
    }
  }
}
