.hero {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3rem;
  }

  .grid-right {
    img {
      width: 100%;
      margin-left: 3rem;
    }
  }

  .grid-left {
    margin-top: 4rem;

    .flex {
      display: flex;
      margin: 10px 0;

      .playstore {
        margin: 20px 0;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        background: #000;
        color: #fff;
        font-weight: bold;
      }

      .video {
        margin-left: 20px;
        display: flex;
        color: rgba(0, 0, 0, 0.68);
        align-items: center;

        img {
          margin-left: 9px;
        }
      }
    }
  }
}
