* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.68);
}
a:hover {
  color: #000;
}

nav {
  background: #fff;
}
nav .container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container .logo img {
  width: 50%;
}
nav .container .menu {
  width: 50%;
}
nav .container .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
nav .container .menu ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 14px;
  position: relative;
}
nav .container .menu ul li a:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  border-radius: 1px;
  background-color: #3b3b3b;
  transition: all 0.4s;
  bottom: -10px;
  left: 0;
  transform: scaleX(0);
}
nav .container .menu ul li a:hover:before {
  transform: scaleX(1);
}

.primary-btn {
  background: linear-gradient(#2bb1fd, #0f76b0);
  display: block;
  padding: 10px 24px;
  border-radius: 7px;
  color: #fff;
  border: none;
  outline: none;
}
.primary-btn:hover {
  color: #fff;
}

.hero h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
.hero .grid-right img {
  width: 100%;
  margin-left: 3rem;
}
.hero .grid-left {
  margin-top: 4rem;
}
.hero .grid-left .flex {
  display: flex;
  margin: 10px 0;
}
.hero .grid-left .flex .playstore {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background: #000;
  color: #fff;
  font-weight: bold;
}
.hero .grid-left .flex .video {
  margin-left: 20px;
  display: flex;
  color: rgba(0, 0, 0, 0.68);
  align-items: center;
}
.hero .grid-left .flex .video img {
  margin-left: 9px;
}

.courses {
  margin: 8rem 0;
  box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.2);
  padding: 2rem;
}
.courses .heading {
  text-align: center;
  font-size: 2rem;
  color: #1e1e1e;
  margin: 20px 0;
  font-weight: bold;
}
.courses .grid-left img {
  width: 100%;
}
.courses .grid-right {
  padding: 1rem;
}
.courses .grid-right h1 {
  color: #323232;
}
.courses .grid-right p {
  color: rgba(0, 0, 0, 0.68);
  margin-top: 10px;
  line-height: 2;
  font-size: 14px;
}
.courses .grid-right .primary-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.accordion-button {
  outline: none !important;
  background: #fff !important;
  color: #121212 !important;
}
.accordion-button span {
  font-size: 1rem;
}
.accordion-button:hover {
  background-color: #fff;
}

.faq {
  width: 100%;
}
.faq h1 {
  text-align: center;
  font-size: 2rem;
  color: #1e1e1e;
  margin: 20px 0;
  font-weight: bold;
}